html{
    height: 100%;
    width: 100%;
    padding: 0px;
    
}
body{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 36);
    padding: 0px;
    margin: 0px;
}
.container{
    justify-self: center;
    height: 71.116%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    align-items: center;
    border-width: 4px;
    border-radius: 14px;
    border-color: rgb(11, 60, 92);
    border-style: solid;
    padding: 12px;
    background-color: rgb(0, 69, 134);
    box-shadow: 0px 0px 6px rgb(0, 29, 56);
}
.screen{
    height : 25%;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
    background-color: rgb(185, 255, 243);
    border-width: 2px;
    border-radius: 6px;
    border-color: rgb(11, 60, 92);
    border-style: solid;
    padding: 6px;
    box-shadow: 0px 0px 1px lightblue, 0px 0px 6px darkblue inset;
    color: rgb(0, 0, 61);
}
.topMini{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-width: 100%;
    font-size: 1.8em;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.bottomBig{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    
    min-height: 60%;
    min-width: 100%;
    font-size: 3.8em;
    flex-shrink: 0;
}
button.ops{
    outline: none;
    transition: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 80px;
    height: 23%;
    padding: 4px;
    margin-bottom: 2px;
    font-size: 1.663em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 29, 56);
    box-shadow: 0px 0px 6px rgb(0, 29, 56);
    border: none;
    text-align: center;
    text-anchor: middle;
}
button.ops.num{
    background-color: rgb(14, 36, 56);
}
button.ops:active { 
    box-shadow: none;
    box-shadow: 0px 0px 8px rgb(0, 60, 116) inset;
}

sup{
    font-size: 14px;
    color: rgb(255, 255, 255);
}
i.material-icons{
    margin: 3px;
    color: rgb(255, 255, 255);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 4px;
    align-items: center;
}